body {
    background: #CCCCCC
}
#banner[
    width: 100%;
    heigt: ;
]
h1 {
    text-align: center
}
p {
    text-align: center;
}
#missao {
    font-size: 40px
}

em strong {
    color: #FF0000;
}
